@charset "utf-8";
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --size-button: 60px;
  --button-fontsize: 18px;
  --base-space: 10px;
  --button-margin-right: 8px;
  --size-border: 4px;
  --size-thumnail: 40px;

  /* annimation */
  --annimation-duration: 0.3s;
}
body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
h1 {
}
.logo {
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
  margin-right: var(--button-margin-right);
}
.btn:hover,
.logo:hover {
  transform: scale(1.1);
}
.buttons {
  display: flex;
  align-items: center;
}
.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}
.colorBtn {
  font-size: var(--button-fontsize);
  padding: var(--base-space);
  border-radius: var(--size-border);
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}
.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}
.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}
.item__thumbnail {
  width: var(--size-thumnail);
  height: var(--size-thumnail);
}
.item__description {
  margin-left: var(--base-space);
}
